.msg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    z-index: 1000;
}
.searchhead{
    position: fixed;
    top: 36px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: white;
}
.head{
    .search-bar__box{
        position:relative;
        padding: 10px 10px 10px 10px;
        width:100%;
        box-sizing:border-box;
        z-index:1;
        border-bottom: 1px solid #eeeded;
        box-shadow: 1px 1px 1px 1px #f1f1ff;
    }
  .search-bar__label{
      position: relative;;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index:2;
      border-radius:50px;
      padding-left: 20px;
      color:rgba(0,0,0,.5);
      background:#f9f9f8;
      line-height:32px;
  }
  .icon-search{
      margin-right:8px;
      font-size:14px;
      vertical-align:top;
      margin-top:.64em;
      height:1em;
      line-height:1em;

  }
  .search-bar__text{
      display: inline-block;
      font-size:14px;
      vertical-align:top;
  }
}
.swiperAuto{
    padding-top: 274rpx;
}
.publish{
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    background:#f0d264;
    border-radius: 5px;
    transform:rotate(45deg);
    box-shadow: 0 0 4px rgb(170, 170, 170);
    text-align: center;
    line-height: 45px;
    i{
        font-size: 22px;
        color: white;
        transform: rotate(45deg);
    }
}