.header{
    padding: 20px 10px 10px 10px;
    height: 30px;
    // background-color:#ffe277;
    .header-title{
        font-size: 18px;
        font-weight: bold;
        i{
            display: inline-block;
        }
    }
}
.main{
    padding: 10px;
    input{
        font-size: 16px;
        font-weight: bold;
    }
    textarea{
        width: 100%;
        padding: 10px 0;
    }
}
.ShowImg{
    float: left;
    width: 25%;
    padding: 5px 0;
}
.uploadImg{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 1px dashed;
    color: rgb(160, 160, 160);
    line-height: 60px;
    text-align: center;
    i{
        font-size: 36px;
        color: rgb(160, 160, 160);
    }
}