.search-bar{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    .search-address{
        display: flex;
        align-items: center;
        padding: 0 5px;
        color: #666666;
    }
    .search-content{
        position: relative;
        display: flex;
        flex: 1;
        background-color: #f1f1f1;
        padding: 5px 30px 5px 5px;
        border-radius: 50px;
        align-items: center;
        .icon-search{
            padding: 0 5px;
        }
        input{
            font-size: 14px;
            width: 100%;
        }
        .close{
            position: absolute;
            right: 5px;
            top: 8px;
            color: #666666;
            z-index: 1000;
        }
    }
    .cancel{
        padding: 0 10px;
    }
}
.clear{
    text-align: center;
    font-size: 14px;
    color: #666666;
    padding-bottom: 15px;
    box-shadow: 0 10px 0 #f1f1f1;
    margin-bottom: 10px;
}