.notice{
    border-bottom: 10px solid #e2e2e2;
}
.i-swipeout-image{
    width: 35px;
    float: left;
    img{
        width: 35px;
        height: 35px;
    }
}
.i-swipeout-des-h2{
    font-size: 14px;
    font-weight: bolder;
}
.notice-img{
    width: 35px;
    height: 35px;
}