
.arb{
    margin: 5px 5px;
    overflow: hidden;
    border-radius: 5px;
    .arb-group{
        border-radius: 5px;
    }
}
.arb-img{
   img{
        width: 25px;
        height: 25px;
   }
}
.arbtext{
    font-weight: bolder;
}
.arb1{
    margin: 5px 10px;
    overflow: hidden;
    border-radius: 10px;
}