
.arb{
    margin: 5px 5px;
    overflow: hidden;
    border-radius: 5px;
    .arb-group{
        border-radius: 5px;
    }
}
.arb1{
    margin: 5px 10px;
    overflow: hidden;
    border-radius: 10px;
}