.content{
    font-size: 14px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    .card-title{
        font-weight: bolder;
        line-height: 20px;
    }
    .card-main{
        .card-ide{
            margin-bottom: 5px;
            img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                vertical-align: top;
            }
            p{
                display: inline;
                font-size: 12px;
                font-weight: bolder;
                color: rgb(54, 53, 53)
            }
        }
    }
    .showImg{
        width: 100%;
        height:120px;
        img { 
            max-width: 300px;
            height: 100%;
        }
    }
    .card-msg{
        font-size: 14px;
        line-height: 20px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.footer{
    display: flex;
    line-height: 32px;
    justify-content: space-between;
    div{
      i{
        letter-spacing:20px;
        font-size: 22px;
        display: inline-block;
      }
      i:last-child{
          font-size: 16px;
          color: #666666;
      }
    }
    div:last-child{
        font-size: 12px;
        color: #999;
    }
}