.main{
    padding-bottom: 60px;
}
.back{
    position: fixed;
    font-size: 50px !important;
    z-index: 1000;
    top: 33px;
    left: 16px;
    width: 85px;
    height: 35px;
    line-height: 33px;
    border-radius:999em;
    font-weight: bold;
}
swiper{
    height: 240px;
    image{
        width: 100%;
        height: 100%;
    }
    video{
        width: 100%;
        height: 100%;
    }
}
.detail_userinfo{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 3px 0 #f1f1f1;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    .attest{
        margin-left: 10px;
       i{
        font-size: 20px;
        color: #666;
       }
    }
    .user-name{
        margin-left: 10px;
        font-size: 16px;
        font-weight: bolder;
    }
    .flower{
        i{
            font-size: 18px;
        }
    }
}
.content{
    padding: 10px;
    margin:5px 0;
    background-color: white;
    box-sizing: border-box;
    .detail-item{
        .title{
            line-height: 30px;
            font-weight: bold;
        }
    }
    .location{
        position: relative;
        width: 100%;
        background: #f1f1f1;
        line-height: 40px;
        padding:0 20px 0 10px;
        border-radius: 5px;
        box-sizing: border-box;
        .location-info{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 16px;
            color: rgb(39, 38, 38);
            i{
                display: inline-block;
                font-size: 24px;
                color: rgb(240, 47, 47);
            }
        }
        .location-right{
            position: absolute;
            right: 5px;
            top: 3px;
            color: #666;
            i{
               font-size: 20px;
            }
        }
    }
    .article{
        line-height: 24px;
    }
    .content-footer{
        line-height: 60px;
        .content-phone{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div{
                span{
                    font-weight: bold;
                    margin-left: 8px;
                    &.content-count{
                        font-weight: normal;
                        font-size: 12px;
                        color: #666;
                    }
                }
            }
            >span{
                width: 80px;
                font-size: 16px;
                border-radius: 5px;
                text-align: center;
                line-height: 30px;
                color: #409eff;
                border: 1px solid #409eff;
            }
            i{
                display: inline-block;
                font-size: 24px;
                color: #67c23a;
            }
        }
        >div:first-child{
            font-size: 14px;
            color: #666;
        }
    }
}
.notice{
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 5px;
   .notice-title{
      display: flex;
      span{
          font-weight: bold;
      }
      i{
          line-height: 20px;
      }
   }
   >span{
       font-size: 12px;
       color: #999;
   }
   .report{
    position: absolute;
    right: 30px;
    top: 10px;
    text-align: center;
    color: rgb(247, 33, 33);
    i{
        font-size: 20px;
    }
    span{
        font-size: 10px;
    }
   }
}
.all-commonents{
    background-color: white;
    padding:10px;
    box-sizing: border-box;
    .commonents-title{
        font-weight: bolder;
        margin-bottom: 10px;
    }
}
